<p id="notice"><%= notice %></p>

<p>
  <strong>Imie:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @employee.surname %>
</p>

<p>
  <strong>Workplace:</strong>
  <%= @employee.workplace %>
</p>

<p>
  <strong>Years of work:</strong>
  <%= @employee.years_of_work %>
</p>

<p>
  <strong>Access to cash:</strong>
  <%= @employee.access_to_cash %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'My employees', employees_path %>
<br>

<% if @employee.employee_detail.nil? %>
  <%= link_to 'Dodaj dane pracownika',new_employee_employee_detail_path(@employee) %>
<% else %>
  <%= link_to 'Pokaż dane', employee_employee_detail_path(@employee) %>
<% end %>
