<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @item.vat %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

<%= link_to 'Dodaj', item_add_path(@item) %> |
<%= link_to 'Sprzedaj', item_sell_path(@item) %> |

